---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin

/*
// Base 16 github theme for syntax coloring.
// https://github.com/Defman21/base16-github-scheme/blob/master/github.yaml
$base00: #f6f8fa !important; 
$base01: #f5f5f5 !important;
$base02: #c8c8fa !important;
$base03: #969896 !important;
$base04: #e8e8e8 !important;
$base05: #333333 !important;
$base06: #ffffff !important;
$base07: #ffffff !important;
$base08: #ed6a43 !important;
$base09: #0086b3 !important;
$base0a: #795da3 !important;
$base0b: #183691 !important;
$base0c: #183691 !important;
$base0d: #795da3 !important;
$base0e: #a71d5d !important;
$base0f: #333333 !important;
*/

/* solarized light syntax highlighting (base16) */
$base00: #fafafa !important;
$base01: #073642 !important;
$base02: #586e75 !important;
$base03: #657b83 !important;
$base04: #839496 !important;
$base05: #586e75 !important;
$base06: #eee8d5 !important;
$base07: #fdf6e3 !important;
$base08: #dc322f !important;
$base09: #cb4b16 !important;
$base0a: #b58900 !important;
$base0b: #859900 !important;
$base0c: #2aa198 !important;
$base0d: #268bd2 !important;
$base0e: #6c71c4 !important;
$base0f: #d33682 !important;

@import "minimal-mistakes"; // main partials