/* ==========================================================================
   My custom skin
   ========================================================================== */

/* Colors */
$background-color: #f5f5f5ff !default;
$link-color: #1e6bf0 !default;
$footer-background-color: #e8f1fbff !default;
